<h2>会員情報編集</h2>
<style>
table {
    width: 12cm;
    height: 1cm;
    border-spacing: 0;
    position: absolute;
    top: 20%;
    right: 55%;
    left: 25%;
    font-size: 18px;
}

th, td {
    padding: 20px;
    text-align: left;
}

h2 {
    background-color: #f5f5f5;
    text-align: center;
    padding: 0;
    width: 7cm;
    height: 1;
}

.btn.btn-success {
    background-color: #28a745;
    color: #fff;
    font-weight: bold;
    width: 7cm;
    height: 1cm;
    border-radius: 10px;
    text-decoration: none;
    position: relative;
    right: 0%;
    left: 115%;
}

.btn.btn-danger {
    font-weight: bold;
    width: 3cm;
    height: 1cm;
    border-radius: 10px;
    text-decoration: none;
    position: relative;
    right: 0%;
    left: 200%;
}

body {
    width: 80%;
    margin: 0 auto;
}
</style>

<%= form_with model: @customer, url: customers_information_path, method: :patch, local: true do |f| %>
<table>

  <tr>
    <td>氏名</td>
    <td><%= f.text_field :last_name, autofocus: true %></td>
    <td><%= f.text_field :first_name %></td>
  </tr>
  <tr>
    <td>フリガナ</td>
    <td><%= f.text_field :last_name_kana, autofocus: true %></td>
    <td><%= f.text_field :first_name_kana %></td>
  </tr>
  <tr>
    <td>郵便番号</td>
    <td><%= f.text_field :post_code %></td>
  </tr>
  <tr>
    <td>住所</td>
    <td><%= f.text_field :address %></td>
  </tr>
  <tr>
    <td>電話番号</td>
    <td><%= f.text_field :telephone_number %></td>
  </tr>
  <tr>
    <td>メールアドレス</td>
    <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
  </tr>
  <tr>
    <td><%= f.submit '編集内容を保存', class:"btn btn-success" %></td>
    <td><%= link_to '退会する', customers_check_path, class:"btn btn-danger" %></td>
  </tr>

</table>
<% end %>