

<h2>商品一覧</h2>
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
    
table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
th, td {
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}


    </style>
</head>
<body>
<div>
  <%= link_to '新規投稿', new_admin_item_path, class: 'btn btn-primary' %>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>商品名</th>
      <th>税抜価格</th>
      <th>ジャンル</th>
      <th>ステータス</th>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |item| %>
    <tr>
      <td><%= item.id %></td>
      <td><%= link_to item.name, admin_item_path(item) %></td>
      <td><%= item.price.to_s(:delimited) %></td>
      <td><%= item.genre.name %></td>
      <td><%= item.is_active ? '販売中' : '販売停止中' %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @items %>