<h1>items#new</h1>

<%= form_with model: @item, url: admin_items_path do |f| %>
<h2>商品新規登録</h2>
<table>
  
  <tr>
    <td><%= f.label :image, '商品画像', for: 'item_image' %></td>
    <td><%= f.file_field :image, id: 'item_image' %></td>
  </tr>
  <tr>
    <td><%= f.label :name, '商品名' %></td>
    <td><%= f.text_field :name, placeholder: "商品名", class: "form-control name" %></td>
  </tr>
  <tr>
    <td><%= f.label :introduction, '商品説明' %></td>
    <td><%= f.text_area :introduction, placeholder: 'ここに説明文を記述します', class: "form-control introduction" %></td>
  </tr>
  <tr>
    <td><%= f.label :genre_id, 'ジャンル' %></td>
    <td><%= f.collection_select :genre_id, Genre.all, :id, :name, prompt: '選択してください', class: "form-control genre-select" %></td>
  </tr>
  <tr>
    <td><%= f.label :price, '税抜価格' %></td>
    <td><%= f.text_field :price, placeholder: '1000', class: "form-control introduction" %>円</td>
  </tr>
  <tr>
    <td><%= f.label :is_active, '販売ステータス' %></td>
    <td>
      <%= f.radio_button :is_active, true %> 販売中
      <%= f.radio_button :is_active, false %> 販売停止中
    </td>
  </tr>
  <tr>
    <td><%= f.submit '新規登録', class: 'btn btn-secondary' %></td>
  </tr>

</table>
<% end %>