<div class="container">
  <div class="row justify-content-center">
    <div class="col-8 text-left">
     ようこそ、ながのCAKEへ！</p>
     このサイトは、ケーキ販売のECサイトになります。</p>
     会員でない方も商品の閲覧はできますが、</p>
     購入には会員登録が必要になります。</p>
    </div>
  </div>
</div>

<h2>新着商品</h2>
<div class="item-container">
  <div class="item-grid">
    <% @items.each do |item| %>
      <div class="item-box">
        <% if item.image.attached? %>
          <%= link_to item_path(item) do %>
           <%= image_tag item.image, class: 'item-image' %>
          <% end %>
        <% end %>
        <h5><%= item.name %></h5>
        <h5>￥<%= number_with_delimiter(item.add_tax_price) %></h5>
      </div>
    <% end %>
  </div>
</div>

<div class="pull-right">
    <div class="items-all">
      <%= link_to '全ての商品を見る>', items_path %>
    </div>
</div>