<h2><%= "#{@customer.last_name}#{@customer.first_name}さんの会員情報編集" %></h2>

<style>
table {
    width: 12cm;
    height: 1cm;
    border-spacing: 0;
    position: absolute;
    top: 20%;
    right: 43%;
    left: 38%;
    font-size: 18px;
}

th, td {
    padding: 20px;
    text-align: left;
}



table td a {
    text-decoration: underline;
    color: black;
}

h2 {
    background-color: #f5f5f5;
    text-align: center;
    padding: 0;
    width: 13cm;
    height: auto;
    font-size: auto;
}

.btn.btn-success {
    background-color: #28a745;
    color: #fff;
    font-weight: bold;
    width: 3.5cm;
    height: 1cm;
    border-radius: 10px;
    text-decoration: none;
    position: relative;
    right: 0%;
    left: 100%;
}

body {
    width: 80%;
    margin: 0 auto;
}
</style>

<%= form_with model: @customer, url: admin_customer_path, method: :patch, local: true do |f| %>
<table>
  <tr>
    <td>会員ID</td>
    <td><%= @customer.id %></td>
  </tr>
  <tr>
    <td>氏名</td>
    <td><%= f.text_field :last_name, autofocus: true %></td>
    <td><%= f.text_field :first_name %></td>
  </tr>
  <tr>
    <td>フリガナ</td>
    <td><%= f.text_field :last_name_kana, autofocus: true %></td>
    <td><%= f.text_field :first_name_kana %></td>
  </tr>
  <tr>
    <td>郵便番号</td>
    <td><%= f.text_field :post_code %></td>
  </tr>
  <tr>
    <td>住所</td>
  <td>
    <%= f.text_field :address, style: 'width: 225%' %>
  </td>
  <tr>
    <td>電話番号</td>
    <td><%= f.text_field :telephone_number %></td>
  </tr>
  <tr>
    <td>メールアドレス</td>
    <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
  </tr>
  
  <tr>
    <td><%= f.label :is_active, '会員ステータス' %></td>
    <td>
      <%= f.radio_button :is_active, true %> 有効
      <%= f.radio_button :is_active, false %> 退会
    </td>
  </tr>
  
  <tr>
    <td><%= f.submit '変更を保存', class: 'btn btn-success' %></td>
  </tr>
</table>
<% end %>
