<h1>orders#show</h1>

<h1>注文履歴詳細</h1>

<p><strong>購入者</strong> <%= "#{@order.customer.last_name} #{@order.customer.first_name}" %></p>

<p><strong>注文日</strong> <%= @order.created_at.strftime("%Y/%m/%d") %></p>

<p><strong>配送先</strong> 〒<%= @order.post_code %><%= @order.address %><br><%= @order.name %></p>


<p><strong>支払方法:</strong> <%= @order.payment_method_i18n %></p>

<div>
    <p><strong>注文ステータス:</strong></p>
    <%= form_with model: @order, url: admin_order_path(@order), local: true, method: :patch do |f| %>
        <%= f.select :status, Order.statuses_i18n.keys.map { |status| [Order.statuses_i18n[status], status] }, selected: @order.status %>
        <%= f.submit "更新", class: "btn btn-primary" %>
    <% end %>
</div>

<h2>注文詳細</h2>
<table class="table">
  <thead>
    <tr>
      <th>商品名</th>
      <th>単価 (税込)</th>
      <th>数量</th>
      <th>小計</th>
      <th>制作ステータス</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @order.order_details.each do |order_detail| %>
      <tr>
        <td><%= order_detail.item.name %></td>
        <td><%= number_to_currency(order_detail.price, unit: "円") %></td>
        <td><%= order_detail.amount %></td>
        <td><%= number_to_currency(order_detail.price * order_detail.amount, unit: "円") %></td>
        <td>
          <%= form_with model: order_detail, url:admin_order_detail_path(order_detail.id), method: :patch do |f| %>
            <%= f.select :making_status, [
              [OrderDetail.making_statuses_i18n[:not_available], :not_available],
              [OrderDetail.making_statuses_i18n[:waiting], :waiting],
              [OrderDetail.making_statuses_i18n[:in_progress], :in_progress],
              [OrderDetail.making_statuses_i18n[:completed], :completed]
            ] %>
        </td>
        <td>
            <%= f.submit "更新", class: "btn btn-primary" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div>
    <p><strong>商品合計:</strong> <%= number_to_currency(@order.order_details.sum { |order_detail| order_detail.price * order_detail.amount }, unit: "円") %></p>
    <p><strong>送料:</strong> <%= number_to_currency(@order.shipping_cost, unit: "円") %></p>
    <p><strong>請求合計金額:</strong> <strong><%= number_to_currency(@order.total_payment, unit: "円") %></strong></p>
</div>
