
<!--<div class='container'>-->
<div class='col-md txet-left'>
<%= form_with model:address, local:true do |f| %>
  <table cellpadding="5" style="margin: 20px 0 10px 20px;">
    <tr>
      <th width="20%"></th>
      <th width="50%"></th>
      <th width="20%"></th>
    </tr>
    <tr>
      <td>郵便番号(ハイフンなし)　</td>
      <td><%= f.text_field :post_code, placeholder: '0000000', style: 'width: 40%' %></td>
    </tr>
    <tr>
      <td>住所</td>
      <td><%= f.text_field :address, placeholder: '東京都渋谷区代々木神園町0-0', style: 'width: 100%' %></td>
    </tr>
    <tr>
      <td>宛名</td>
      <td><%= f.text_field :name, placeholder: '令和道子', style: 'width: 40%' %></td>
      <% if f.object.persisted? %>
        <td>
          <%= f.submit "変更内容を保存", class: 'btn btn-success', style: 'width: 65%' %>
        </td>
      <% else %>
        <td>
          <%= f.submit "新規登録", class: 'btn btn-success', style: 'width: 65%' %>
        </td>
      <% end %>
    </tr>
  </table>
<% end %>
</div>