<h2>注文情報入力</h2>
<%= form_with model: @order, url: confirm_orders_path, local: true do |f| %>
  <h3>支払い方法</h3>
  <div>
    <%#= f.radio_button :payment_method, Order.payment_methods.key(0), id: "payment_method_credit_card" %>
    <%= f.radio_button :payment_method, :credit_card %>
    <%#= f.label :payment_method_credit_card, Order.payment_methods_i18n[:credit_card] %>
    <%= f.label :payment_method, Order.payment_methods_i18n[:credit_card], {value: :credit_card} %>
  </div>
  <div>
    <%#= f.radio_button :payment_method, Order.payment_methods.key(1), id: "payment_method_transfer" %>
    <%= f.radio_button :payment_method, :transfer %>
    <%#= f.label :payment_method_transfer, Order.payment_methods_i18n[:transfer] %>
    <%= f.label :payment_method, Order.payment_methods_i18n[:transfer], {value: :transfer} %>
  </div>
  <h3>お届け先</h3>
    <div>
      <%#= f.radio_button :address_option, 'own_address', id: 'address_own_address' %>
      <%#= f.label :address_option_own_address, 'ご自身の住所' %>
      <%= f.radio_button :address_type, "own_address" %>
      <%= f.label :address_type, "ご自身の住所" %>
      <!--〒<%#= current_member.post_code + "　" + current_member.address + "　" + current_member.family_name + current_member.first_name %> -->
    </div>
    <div>
      <p>〒<%= @customer.post_code %><%= @customer.address %><br>
      <%= @customer.last_name %><%= @customer.first_name %></p>
    </div>
    <div>
      <%#= f.radio_button :address_option, 'existing', id: "address_existing" %>
      <%#= f.label :address_option_existing, "登録済み住所から選択" %>
      <%= f.radio_button :address_type, [:registered_address] %>
      <%= f.label :address_type, "登録済住所から選択" %>
    </div>
    <div>
      <%= f.select :address_id, options_from_collection_for_select(Address.all, :id, :address_display), include_blank: "登録してある配送先住所から選択" %>
      <%# @customer.addresses.each do |address| %>
        <%#= f.select :address_id, options_for_select(address.address_display, f.object.address_id) %>
      <%# end %>
    </div>
    <div>
      <%#= f.radio_button :address_option, 'new', id: "address_new" %>
      <%= f.radio_button :address_type, "new_address" %>
      <%= f.label :address_type, "新しいお届け先" %>
      <table>
        <tr>
          <td>郵便番号(ハイフンなし)</td>
          <td><%= f.text_field :new_post_code, placeholder: '0000000' %></td>
        </tr>
        <tr>
          <td>住所</td>
          <td><%= f.text_field :new_address, placeholder: '東京都渋谷区代々木神園町0-0' %></td>
        </tr>
        <tr>
          <td>宛名</td>
          <td><%= f.text_field :new_name, placeholder: '令和道子' %></td>
        </tr>
        <tr>
          <td><%= f.submit '注文を確定する' %></td>
        </tr>
      </table>
    </div>
<% end %>