<!--<h1>Items#show</h1>-->
<div>
  <%= image_tag @item.image, size: '200x200' %>
</div>
<table>
  <tr>
    <td><%= @item.name %></td>
  </tr>
  <tr>
    <td><%= @item.introduction %></td>
  </tr>
  <tr>
    <td>￥<%= @item.add_tax_price.to_s(:delimited) %>（税込）</td>
  </tr>
  <tr>
  <% if @item.is_active == true %>
    <td>
      <%= form_with(model: @cart_item,url: cart_items_path, method: :post,local: true)do |f| %>
        <%= f.select :amount, (1..20).to_a, include_blank: "個数選択" %>

        <%= f.hidden_field :item_id, :value => @item.id %>
       <%= f.submit "カートに入れる" %>
      <% end %>
    </td>
  <% end %>
  </tr>
</table>